<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      src="../../../assets/perfilPhoto.jpg"
      class="img-fluid"
      id="fotodeperfil"
    />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{ persona.nombre }} {{ persona.apellido }}</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Sobre mí</h1>
      <p>
        Me llamo Sebastián Medina, tengo 24 años y soy de Tucumán, Argentina.
        Soy una persona autodidacta que está en constante crecimiento personal y
        profesional con mucha disposición al aprendizaje enfocándome en unos de
        mis objetivos principales que es poder introducirme en el ámbito laboral
        de la programación.
      </p>
    </span>
  </div>
</div>
