<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="https://www.linkedin.com/in/sebastian-medina-9371bb234/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://twitter.com/_seba_medina_"><img src="../../../assets/twitter.png" id="twitter"></a>
                <a href="https://www.instagram.com/cseba_medina/"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://github.com/csebamedina"><img src="../../../assets/github.png" id="github"></a>
                <a href="https://www.facebook.com/seba.medina.319"><img src="../../../assets/facebook.png" id="facebook"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>
