<div class="row">
    <h1>Cursos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Primeros Auxilios - Reanimación Cardio Pulmonar</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis deleniti expedita exercitationem enim, doloremque quia distinctio! Omnis, repudiandae? Quidem fugit porro quod saepe earum mollitia doloribus maxime sapiente? Aut, nemo!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/curso.png" class="img-fluid img-proyecto">
        </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>#SéProgramar</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis deleniti expedita exercitationem enim, doloremque quia distinctio! Omnis, repudiandae? Quidem fugit porro quod saepe earum mollitia doloribus maxime sapiente? Aut, nemo!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/SéProgramar.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
